<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>会員登録の確認</title>
    </head>
    <body>
        <div class="content">
			<h3>以下の情報で登録しますか？</h3>
			<div class="form">
            <form action="{% url 'soso:user_confirm'%}" method='POST'>
				{% csrf_token %}
				<table>
					{% for field in form %}
					{% if field.name != "password_2" %}
					<tr>
						<th>{{ field.label }}</th>
						<td>
							{{ field.value }}
							<input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				
				</table>				
				<input type="submit" value="登録" /><br>
			</form>
			<a href="{% url 'soso:top_page'%}">商品検索</a>
			</div>
        </div>
    </body>
</html>
