{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>会員情報</title>
		<link rel='stylesheet' type='text/css' href='{% static "message/css/style.css" %}' />
	</head>
	<body>
        <div class="content">
			<h1>会員情報</h1>
			<div class="form">
				{% if error %}
                <p style="color:red;">{{ error }}</p>
                {% endif %}
            <form action="{% url 'soso:user_update'%}" method='POST'>
				{% csrf_token %}
				<table>
					{{form.as_table}}
				</table>
				<input type="submit" value="変更" /><br>
			</form>
			<a href="{% url 'soso:top_page'%}">退会する</a><br><br>
			<a href="{% url 'soso:top_page'%}">購入履歴（任意機能）</a>へ<br>
            <a href="{% url 'soso:top_page'%}">商品検索</a>へ
			</div>
        </div>
	</body>
</html>
