{% load static %}
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<title>会員情報の確認</title>
		<link rel='stylesheet' type='text/css' href='{% static "message/css/style.css" %}' />
	</head>
	<body>
        <div class="content">
			<h3>会員情報</h3>
				<table>
					<tr>
						<th>会員ID</th>
						<td>{{user_info.user_id}}</td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td>{{user_info.password}}</td>
					</tr>
					<tr>
						<th>お名前</th>
						<td>{{user_info.name}}</td>
					</tr>
					<tr>
						<th>ご住所</th>
						<td>{{user_info.address}}</td>
					</tr>
				</table>
			<a href="{% url 'soso:user_update'%}">会員情報の変更</a><br>
			<a href="{% url 'soso:top_page'%}">商品検索</a>へ
			</div>
        </div>
    </body>
</html>
